# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Uploaded Images
uploads/

# VS Code Settings
.vscode/

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db