import {
  FaHome,
  FaSeedling,
  FaCloudSun,
  FaChartLine,
  FaRobot,
  FaUserCircle,
} from "react-icons/fa";

const Sidebar = () => {
  return (
    <div className="sidebar">
      <h2 className="logo">🌾 Halli Mitra</h2>

      <ul>
        <li><FaHome /> Dashboard</li>
        <li><FaSeedling /> Crop Management</li>
        <li><FaCloudSun /> Weather</li>
        <li><FaChartLine /> Market Prices</li>
        <li><FaRobot /> AI Assistant</li>
        <li><FaUserCircle /> Profile</li>
      </ul>
    </div>
  );
};

export default Sidebar;