.ai-preview{
    padding:100px 80px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
    background:#f8fbf7;
}

.ai-tag{
    display:inline-block;
    background:#E8F5E9;
    color:#2E7D32;
    padding:8px 18px;
    border-radius:30px;
    font-weight:700;
    margin-bottom:20px;
}

.ai-left h2{
    font-size:48px;
    margin-bottom:20px;
    color:#222;
}

.ai-left p{
    font-size:19px;
    color:#666;
    line-height:1.8;
    margin-bottom:30px;
}

.chat-box{
    background:white;
    border-radius:20px;
    padding:30px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.chat{
    display:flex;
    gap:15px;
    margin-bottom:25px;
    align-items:flex-start;
}

.chat-icon{
    font-size:24px;
    color:#2E7D32;
    margin-top:5px;
}

.chat p{
    background:#f4f4f4;
    padding:15px;
    border-radius:12px;
    line-height:1.6;
}

.ai p{
    background:#E8F5E9;
}